{% extends 'layouts/main.html' %} {% block title %}Practise{% endblock %} {%
block content %}
<div class="container">
	<div class="row">
		<!-- question 1 -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h1 data-id="1" id="question-1" class="text-muted">
						8085 is a __ bit processor?.
					</h1>
					<p class="lead text-success">8</p>
				</div>
			</div>
		</div>
		<!-- question 2 -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h1 data-id="2" id="question-2" class="text-muted">
						8086 is a __ bit processor.
					</h1>
					<p class="lead text-success">16</p>
				</div>
			</div>
		</div>
		<!-- question 3 -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h1 data-id="3" id="question-3" class="text-muted">
						___ pin in 8085 is ALE.
					</h1>
					<p class="lead text-success">30</p>
				</div>
			</div>
		</div>
		<!-- question 4 -->
		<div class="col-sm-12">
			<div class="card">
				<div class="card-body">
					<h1 data-id="4" id="question-4" class="text-muted">
						Who is prime of india?
					</h1>
					<p class="lead text-success">Modi</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
