* {
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    background: #f1f1f1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: bold;
}

p {
    font-family: "Open Sans", sans-serif;
}

.card {
    background: white;
}

.choice .fa {
    font-size: 5em;
    text-align: center;
}
